@import 'tailwindcss';

* {
	box-sizing: border-box;
}

body {
	min-width: 320px;
	min-height: 100vh;
	color: #242424;
}

:root {
	--font-dm-sans: 'DM Sans', sans-serif;
}

.font-sans {
	font-family: var(--font-dm-sans);
}

@font-face {
	font-family: 'ChaletLondonNineteenSixty';
	src: url('/fonts/ChaletLondonNineteenSixty.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

.font-chalet-1960 {
	font-family: 'ChaletLondonNineteenSixty', sans-serif;
}

.embla {
	overflow: hidden;
}

.embla_for_contractors {
	overflow: hidden;
}

.embla__container {
	display: flex;
}

.embla__slide {
	flex: 0 0 100%;
	min-width: 0;
}

.embla__slide_contractors {
	flex: 0 0 100%;
	min-width: 0;
}

@media screen and (width > 768px) {
	.embla {
		overflow: visible;
	}

	.embla__slide {
		flex: 1 1 1;
	}
}

@media screen and (width > 1024px) {
	.embla_for_contractors {
		overflow: visible;
	}

	.embla__slide_contractors {
		flex: 1 1 1;
	}
}

